body{
	font: 15px/1.5 'Nunito Light';
	padding:0;
	margin:0;
	background-color: #FBFADF;
}

/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.button_1{
	height: 38px;
	background: #dc143c;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

header{
	background-color: #93A76B;
	color: #000000;
	padding top: 30px;
	min-height: 70px;
	border-bottom: #BC9968 9px solid;
}

header a{
	color:#000000;
	text-decoration: none;
	font-size:20px;
}

header ul{
	bottom margin: 20px;
	padding: 0;
}

header li{
	float-left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	margin-top: 20px;

}

header nav{
	float:right;
}

header .highlight, section .highlight, header .current a{
	color: #dc143c;
	font-weight:bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/*Showcase*/
#showcase{
	min-height:400px;
	background: no repeat url("img/farm.svg");
	text-align: center;
	color:#000000;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px
}

#showcase p{
	font-size: 20px;
}

/*Newsletter*/

#newsletter{
	padding: 5px;
	color:#000000;
	background-color: #93A76B;
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float: right;
	margin-top: 15px;

}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;

}

/*Boxes*/

#boxes{
	margin-top: 20px;
}

#boxes .box{ 
	float:left;
	text-align: center;
	padding: 10px;
	width: 30%;
}

/* Sidebar */
aside#sidebar{
	float:right;
	width: 30%;
	margin-top:10px;
}

/* Main-col */
article#main-col{
	float:left;
	width: 65%;
}


footer{
	padding: 20px;
	margin-top: 20px;
	border-top: #BC9968 9px solid;
	color: #ffffff;
 	background-color: #93A76B;
	text-align: center;
	}


